body{
    background-attachment:scroll;
    background-image: url("../helpers/img/background.png");
}

*{
    font-family: "Book Antiqua";
    font-size: 16px;
}

.stat:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    top: 150px;
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255, 255, 230, 0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
}
